/* text colors */
$text-primary: #2E2E48;
$text-secondary: #47516B;
$text-tertiary: #79819A;

/* breakpoints */
$xs: 280px;
$sm: 485px;
$md: 530px;
$lg: 865px;
$xl: 1005px;
$xxl: 1150px;
$skils-break: 1024px;
